{% extends "layout.html" %}

{%block content%}
<div class="textoinicial p-4" >
    <h1 class="display-4">DAGMA, Juega ahora gratis!</h1>
    <p class="lead">Crea tu nombre de usuario y compite con el resto del grupo para ganar los puntos de la profesora</p>
    <hr class="my-4">
    <p>Pagina aun en desarrollo creado por el equipo de SO fedora server</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{url_for('login')}}" role="button">Ingresa Aqui</a>
    </p>
</div>
{%endblock%}